body, html {
    height: 100%;
    margin: 0;
}

#backgroundContainer {
    background-image: url("img/background.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 5vh;
    padding-left: 10vh;
    padding-right: 10vh;
}

#mainContainer {
    background-color: white;
    width: 100%;
    border-radius: 1%;
    color: black;
    padding: 5vh;
    padding-left: 10vh;
}

#stemwijzerLogo {
    height: 15vh;
}

#footer {
    position: fixed;
    width: 100%;
}

.iconText {
    display: inline;
}

.questionScreen, .importanceScreen, #backButton, #questionStances, .scoreScreen {
    display: none;
}

.buttonDiv {
    margin-top: 20vh;
    width: 60vw;
    height: 10vh;
}

#slaOver, #slaOver>p {
    display: inline-block;
}

.buttonDiv button {
    display: inline-block;
    height: 100%;
    width: 20%;
    color: white;
    background-color: black;
    margin-right: 5%;
}