body {
    margin: auto;
}

#backgroundContainer {
    background-image: url("img/background.png");
    height: 100vh;
    padding: 5vh;
    padding-left: 10vh;
    padding-right: 10vh;
}

#mainContainer {
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 1%;
    color: black;
    padding: 5vh;
    padding-left: 10vh;
}

#stemwijzerLogo {
    height: 15vh;
}

#footer {
    width: 100%;
}

.iconText {
    display: inline;
}

.questionScreen, .importanceScreen {
    display: none;
}

.buttonDiv {
    margin-top: 20vh;
    width: 90vh;
    height: 10vh;
}

.buttonDiv button {
    display: inline;
    height: 100%;
    width: 20%;
    color: white;
    background-color: black;
    margin-right: 5%;
}