body{
    margin: auto;
}

#backgroundContainer{
    background-image: url("img/background.png");
    height: 100vh;
    padding: 5vh;
    padding-left: 10vh;
    padding-right: 10vh;
}

#mainContainer{
    background-color: white;
    height: 100%;
    width: 100%;
}